body {
	font-family: "EB Garamond", serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

a:visited {
	text-decoration: none;
	color: #000;
}

/* container */

.container__header {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	border: 1px solid rgba(0, 0, 0, 0.116);
	border-right: none;
	border-left: none;
}

/* container end */

/* header */

.header {
	height: 53px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.178);
}

.nav {
	display: flex;
	align-items: center;
}

.logo__title {
	text-decoration: none;
	color: #000;
	font-weight: 700;
	transition: transform 1s;
}
.logo__title:hover {
	transform: rotate(1turn);
}

.nav__list {
	list-style-type: none;
	display: flex;
}

.nav__link {
	padding: 15px;
	text-decoration: none;
	color: #000;
	font-size: 18px;
	transition: background-color 0.5s;
}

.nav__link:hover {
	background-color: rgb(194, 184, 184);
}

.header__social {
	display: flex;
	padding: 5px;
	align-items: center;
}

.header__icon {
	width: 20px;
	margin: 0 7px;
	transition: transform 0.2s;
}
.header__icon:hover {
	transform: scale(1.2);
}

/* header end */

/* main section */
.main__section {
	display: flex;
}

.main__section-text {
	width: 50%;
	padding: 19px;
}

.main__title {
	font-size: 44px;
	font-weight: 400;
}

.main__text {
	padding-right: 123px;
}

.main__subtext {
	padding-right: 123px;
	font-size: 14px;
	opacity: 0.9;
	margin-bottom: 20px;
}

.main__section-img {
	width: 50%;
	height: 100%;
	background-color: #fff;
	background-image: url(/img/IMG_20210709_135129.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.main__section-image {
	width: 100%;
}

.btn {
	padding: 15px 20px;
	background-color: #fff;
	border-radius: 5px;
	color: rgba(0, 0, 0, 0.363);
	border: 1px solid rgba(0, 0, 0, 0.301);
}

/* main section end */

/* section story */

.section__story {
}
.section__story-img {
	width: 33%;
	height: 100%;
	background-color: #fff;
	background-image: url(/img/block__story/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.section__story-text {
	margin-left: 35px;
	padding: 35px 0 35px 0;
}
.section__story-title {
	font-size: 40px;
	font-weight: 400;
}
/* section story end */
