body {
	font-family: 'EB Garamond', serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

a:visited {
	text-decoration: none;
	color: #000;
}



/* container */

.container__header {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
}

/* container end */

/* header */

.header {
	height: 53px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.178);
}

.nav {
	display: flex;
	align-items: center;
}

.logo__title {
	text-decoration: none;
	color: #000;
	font-weight: 700;
}


.nav__list {
	list-style-type: none;
	display: flex;
}

.nav__link {
	padding: 15px;
	text-decoration: none;
	color: #000;
	font-size: 18px;
	transition: background-color .5s;
}

.nav__link:hover {
	background-color: rgb(194, 184, 184);
}

.header__social {
	display: flex;
	padding: 5px;
	align-items: center;
}

.header__icon {
	width: 20px;
	margin: 0 7px;
}

/* header end */



/* main section */
.main__section {
	display: flex;
}

.main__section-text {
	width: 50%;
}

.main__section-img {
	width: 50%;
}

.main__section-image {
	width: 100%;
}

/* main section end */